@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-image: linear-gradient(
    to left bottom,
    #c6cbd4,
    #cdd1d9,
    #d3d7de,
    #dadee4,
    #e1e4e9,
    #e3e5ea,
    #e5e7ea,
    #e7e8eb,
    #e5e5e8,
    #e3e3e4,
    #e0e0e1,
    #dedede
  ); */
  /* background-image: linear-gradient(to left bottom, #8eaf89, #9ab595, #a6bba0, #b2c2ad, #bdc8b9, #b8c3b4, #b3beb0, #aeb9ab, #98a794, #82967e, #6c8569, #567455); */
  background-image: linear-gradient(
    to left bottom,
    #b6e1b0,
    #bfe3b9,
    #c8e4c2,
    #d0e6cb,
    #d8e7d4,
    #d5e5d1,
    #d3e2cf,
    #d0e0cc,
    #c1dabc,
    #b2d3ad,
    #a2cd9e,
    #92c690
  );
}

.nav-hidden {
  opacity: 0;
  visibility: hidden;
  transition-duration: 200ms;
}
